<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeClass()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:35</td>   <td>5674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeMethod()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:40</td>   <td>10000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScripts.testCase01_verifyLoginFunctionality()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">testCase01_verifyLoginFunctionality</td> 
  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:57</td>   <td>27133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:57</td>   <td>27134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeMethod()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:05:59</td>   <td>29911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScripts.testCase02_verifyInvalidLogin()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">testCase02_verifyInvalidLogin</td> 
  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:13</td>   <td>43731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:13</td>   <td>43732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeMethod()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:17</td>   <td>47652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScripts.testCase03_verifyValidation_Customer()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">testCase03_verifyValidation_Customer</td> 
  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:31</td>   <td>61335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:31</td>   <td>61336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeMethod()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:35</td>   <td>65026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScripts.testCase04_verifyValidation_UserName()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">testCase04_verifyValidation_UserName</td> 
  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:49</td>   <td>79066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:49</td>   <td>79067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestScripts.beforeMethod()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:52</td>   <td>82773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestScripts.testCase05_verifyValidation_Password()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">testCase05_verifyValidation_Password</td> 
  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:59</td>   <td>89726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:06:59</td>   <td>89727</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTestScripts.afterClass()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>17/11/01 23:07:01</td>   <td>91813</td> <td title="&lt;&lt;LoginTestScripts.sendReportViaMail()[pri:0, instance:testScripts.ALLSTATE.Login.LoginTestScripts@f0f2775]">&lt;&lt;sendReportViaMail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704024720</td>   <td></td> </tr>
</table>
